<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态数字</title>
</head>
<body>
<ul id="city">

</ul>
<script type="text/javascript">
    // 在这还可以发送网络请求，获取数据
    var cityList = ["北京","上海","广州"];
    for (var index in cityList){
        var text = cityList[index];

        // 创建 <li></li> 标签
        var tag = document.createElement("li");
        // 在li标签中写入内容
        tag.innerText = text;

        // 添加到id=city那个标签的里面。DOM
        var parentTag = document.getElementById("city");
        parentTag.appendChild(tag);
    }
</script>
</body>
</html>